---
import { Image } from 'astro:assets';

import { ArrowRightUp } from '@/components/icons';
import { Button, Card, CardContent, CardInset, Heading } from '@/components/ui';

import type { Project } from '@/types/project';

interface Props {
	readonly project: Project;
}

const {
	project: { description, thumbnail, title, url },
} = Astro.props;
---

<Card as="article">
	<CardInset>
		<Image
			alt={title}
			layout="constrained"
			src={thumbnail}
			sizes="(min-width: 1327px) 600px, (min-width: 640px) 50vw, 100vw"
			width={600}
			height={341}
			class="size-full object-cover"
		/>
	</CardInset>
	<CardContent>
		<div class="flex h-full flex-col gap-y-4">
			<Heading as="h2" size="h4">{title}</Heading>
			<p class="text-text-primary">{description}</p>
			<div class="mt-auto w-fit">
				<Button as="a" href={url} target="_blank" color="brand" size="sm">
					Zobacz projekt <ArrowRightUp />
				</Button>
			</div>
		</div>
	</CardContent>
</Card>
