---
import { Image } from 'astro:assets';

import { ArrowRightUp } from '@/components/icons';
import {
	Badge,
	Button,
	Card,
	CardContent,
	CardInset,
	Emoji,
	Heading,
} from '@/components/ui';
import { createPluralizer } from '@/utils/create-pluralizer';

import type { LocalImageProps } from 'astro:assets';

import type { Post } from '@/types/post';

interface Props {
	readonly post: Post;
	readonly thumbnailProps?: Pick<LocalImageProps, 'sizes'>;
	readonly withTags?: boolean;
}

const {
	post: { introduction, readingTime, slug, tags, thumbnail, title },
	thumbnailProps,
	withTags,
} = Astro.props;

const readingTimePluralizer = createPluralizer({
	one: 'minuta',
	few: 'minuty',
	many: 'minut',
});
---

<Card
	as="article"
	data-tags={tags.join(',')}
	data-title={title}
	data-introduction={introduction}
>
	<CardInset>
		{
			withTags && (
				<ul
					aria-label="Lista tagów"
					class="absolute top-2 left-2 flex gap-x-2 laptop:top-4 laptop:left-4"
				>
					{tags.map(tag => (
						<li>
							<Badge>{tag}</Badge>
						</li>
					))}
				</ul>
			)
		}
		<Image
			alt={title}
			layout="constrained"
			src={thumbnail}
			width={600}
			height={315}
			class="size-full object-cover"
			{...thumbnailProps}
		/>
	</CardInset>
	<CardContent>
		<Heading as="h3" size="h4">
			{title}
		</Heading>
		<p class="mt-2 text-text-primary">
			{introduction}
		</p>
		<p class="my-5 text-sm text-text-neutral">
			<Emoji type="⌛️" />
			{readingTime}
			{readingTimePluralizer(readingTime)} czytania
		</p>
		<div class="mt-auto w-fit">
			<Button as="a" href={`/${slug}`} color="secondary" size="sm">
				Przeczytaj więcej <ArrowRightUp />
			</Button>
		</div>
	</CardContent>
</Card>
