---
import { Image } from 'astro:assets';

import { Heading } from '@/components/ui';

import type { Post } from '@/types/post';

interface Props {
	readonly post: Pick<Post, 'date' | 'thumbnail' | 'title'>;
}

const {
	post: { date, thumbnail, title },
} = Astro.props;

const isoDate = date.toISOString();
const formattedDate = date.toLocaleDateString('pl-PL', {
	day: 'numeric',
	month: 'long',
	year: 'numeric',
});
---

<header class="text-center">
	<time datetime={isoDate} class="text-text-secondary">
		<span class="sr-only">Post został dodany</span>
		{formattedDate}
	</time>
	<Heading as="h1" size="h2">{title}</Heading>
	<Image
		alt={title}
		layout="constrained"
		src={thumbnail}
		width={1280}
		height={672}
		class="mt-10 rounded-xl"
	/>
</header>
