---
import { Image } from 'astro:assets';

import { ArrowRightUp, Share } from '@/components/icons';
import {
	Button,
	Card,
	CardContent,
	CardInset,
	Emoji,
	Heading,
	IconButton,
} from '@/components/ui';

import type { Post } from '@/types/post';

interface Props {
	readonly post: Post;
}

const {
	post: { introduction, thumbnail, title, slug },
} = Astro.props;
---

<Card as="article">
	<CardInset>
		<Image
			alt={title}
			layout="constrained"
			src={thumbnail}
			width={600}
			height={315}
			class="size-full object-cover"
		/>
	</CardInset>
	<CardContent>
		<Heading as="h3" size="h4">
			{title}
		</Heading>
		<p class="mt-2 text-text-primary">
			{introduction}
		</p>
		<p class="my-5 text-sm text-text-neutral">
			<Emoji type="⌛️" /> 8 minut czytania
		</p>
		<div class="flex items-center justify-between">
			<Button as="a" color="secondary" size="sm" href={`/${slug}`}>
				Przeczytaj więcej <ArrowRightUp />
			</Button>
			<IconButton label="Udostępnij post">
				<Share />
			</IconButton>
		</div>
	</CardContent>
</Card>
